body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5fff0;
    color: black;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(162, 217, 142, 0.6);
    text-align: center;
    width: 320px;
    border: 2px solid #a2d98e;
}

h2 {
    color: #333;
}

input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #a2d98e;
    outline: none;
    background: #e8ffdb;
}

button {
    width: 100%;
    padding: 12px;
    background: #88c36b;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background: #6fa953;
}

p {
    margin-top: 15px;
}

a {
    color: #2c6e49;
    cursor: pointer;
    font-weight: bold;
}
